body {


  background-image: linear-gradient(#035162, rgb(11, 194, 179));
  background-repeat: no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}